:root {
  --ff-sans: "Josefin Sans", sans-serif;
  --base-font: 1.6rem;
  --fw-normal: 400;
  --fw-bold: 700;
  --img-bg: url("../images/bg-desktop-dark.jpg");
  --clr-primary: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-page-bg: hsl(235, 21%, 11%);
  --clr-card-bg: hsl(235, 24%, 19%);
  --clr-blue: hsl(220, 98%, 61%);
  --clr-green: hsl(192, 100%, 67%);
  --clr-pink: hsl(280, 67%, 43%);
  --clr-gb-1: hsl(236, 33%, 92%);
  --clr-gb-2: hsl(234, 39%, 75%);
  --clr-gb-3: hsl(234, 11%, 52%);
  --clr-gb-4: hsl(237, 12%, 36%);
  --clr-gb-5: hsl(233, 14%, 35%);
  --clr-gb-6: hsl(235, 19%, 24%);
  --clr-box-shadow: hsl(0, 0%, 0%, 0.1);
  --dark: #2a2828;
  --darker: #100303;
  --light: #ede8e8;
  --blue: #7cb9e8;
  --blueer: #00308f;
  --yellow: #c1d220;
  --albastru: rgb(128, 230, 230);
  --background: rgba(48, 64, 64, 1);
  --background1: rgba(0, 0, 0, 1);
  --background2: rgba(216, 224, 220, 0.3);
  --red: #b41105;
  --redeer: #fa1403;
  --notification-info: #009a9a;
  --notification-warn: #963634;
}

/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

body {
  font: var(--fw-normal) var(--base-font) var(--ff-sans);
  background: var(--clr-page-bg) var(--img-bg) no-repeat 0% 0% / 100vw 30rem;
  padding-top: 8rem;
  width: min(85%, 54rem);
  margin: auto;
}

input,
button {
  font: inherit;
  border: 0;
  background: transparent;
}

button {
  display: flex;
  user-select: none;
}

input:focus,
button:focus {
  outline: 0;
}

.card {
  background-color: var(--clr-card-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 2rem;
  gap: 2rem;
}

header.card {
  background: transparent;
  padding: 0;
  align-items: flex-start;
}

header.card h1 {
  color: var(--clr-white);
  letter-spacing: 1.3rem;
  font-weight: 700;
  font-size: calc(var(--base-font) * 2);
}

.cb-container {
  all: unset;
  color: var(--blue);
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1rem;
  background-image: linear-gradient(to right, var(--clr-gb-2), var(--clr-gb-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
}

.cb-container:hover {
  background-image: linear-gradient(to right, var(--clr-gb-1), var(--clr-gb-1));
}

.cb-container:active {
  opacity: 0.6;
}

.add {
  margin: 4rem 0 2.5rem 0;
  border-radius: 1rem;
}

.add .cb-container {
  transition: background 0.3s ease;
}

.add .txt-container {
  flex: 1;
}

.add .txt-container #inputId {
  width: 100%;
  padding: 0.7rem 0;
  color: var(--clr-gb-1);
}

.add .txt-container #inputId::placeholder {
  color: var(--clr-gb-5);
  font-weight: var(--fw-normal);
}

.toDoList > * {
  transition: 0.4s ease;
}

.toDoList .toDo {
  cursor: move;
}

.toDoList .toDo:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.toDoList > * + * {
  border-top: 0.2rem solid var(--clr-gb-6);
}

textarea {
  flex: 1;
  color: var(--clr-gb-2);
}

textarea:hover {
  color: var(--clr-gb-1);
}

/* .todoList .toDo.checked .checkbox {
  text-decoration: line-through;
  color: var(--clr-gb-3);
  text-decoration-color: var(--clr-gb-3);
} */

#listaParinteId .toDo {
  all: unset;
  display: flex;
  /* justify-content: space-between; */
  background-color: var(--clr-card-bg);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  align-items: center;
  gap: 5px;
}

/* #listaParinteId .content {
  all: unset;
  display: flex;
  justify-content: space-between;
  background-color: var(--background2);
  opacity: 0.7;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
} */

.toDo span {
  margin-right: 1rem;
  font-size: 2rem;
  padding-left: 0px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 2rem;
  vertical-align: middle;
  color: var(--clr-gb-2);
}

.toDo input {
  margin-right: 1rem;
  font-size: 2.5rem;
  transform: scale(1.7);
  padding-left: 0px;
  vertical-align: middle;
}

.toDo textarea {
  all: unset;
  /* display: block; */
  margin-right: 1rem;
  color: var(--clr-gb-2);
  font-size: 2rem;
  vertical-align: middle;
  width: 100%;
  height: 33px;
  outline: none;
}

.toDo textarea:hover {
  color: var(--clr-gb-1);
}

#listaParinteId .toDo .actions {
  all: unset;
  display: flex;
  /* margin-left: 20rem; */
}

#listaParinteId .toDo .actions #removeActions {
  all: unset;
  display: flex;
  /* margin-left: 20rem; */
}

#listaParinteId .actions {
  margin: 0 40rem;
}

.toDo .actions button {
  all: unset;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
  color: var(--clr-gb-2);
}

.toDo .actions button:hover {
  color: var(--clr-gb-1);
}

.editContent {
  display: none;
}

.saveEditBtn,
.cancelEditBtn {
  all: unset;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
  color: var(--clr-gb-2);
}

.saveEditBtn:hover,
.cancelEditBtn:hover {
  color: var(--clr-gb-1);
}

/* Contorizare */
.stat {
  border-radius: 0 0 0.5rem 0.5rem;
  /* border-top: 0.2rem solid var(--clr-gb-6); */
  font-size: calc(var(--base-font) - 0.3rem);
  display: flex;
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.stat * {
  color: var(--clr-gb-4);
}

.stats {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.stats li {
  display: flex;
}

.stats span {
  padding: 0.25rem 0.25rem;
}

.stats span:first-child {
  color: var(--clr-gb-2);
  /* background-color: var(--clr-gb-4); */
  opacity: 0.8;
  border-radius: 0rem;
}

.stats span:first-child:hover {
  color: var(--clr-gb-1);
}

.stats span:nth-child(2) {
  /* background-color: var(--blueer); */
  color: var(--albastru);
  opacity: 0.8;
  border-radius: 0rem;
  font-weight: 800;
}

.confirmationDialog {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.PopUp-open {
  display: flex;
}

.PopUp {
  max-width: 700px;
  max-height: 400px;
  background-color: rgba(245, 238, 238, 0.938);
  border-radius: 3px;
}

.PopUp-header {
  background-color: none;
  display: flex;
  flex-direction: column;
}

.PopUp-header h2 {
  margin: 1em;
}

.PopUp-header span {
  align-self: flex-end;
  cursor: pointer;
  padding-right: 0.3em;
}

.PopUp-content {
  padding: 1em;
}

.PopUp-footer {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

.PopUp-cancel {
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-left: 0.5em;
  cursor: default;
}

.PopUp-confirm {
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  color: white;
  background-color: tomato;
  border-radius: 3px;
  margin-left: 0.5em;
  cursor: pointer;
}

/* Pop-up ALL */

.confirmationDialogAll {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.PopUpAll-open {
  display: flex;
}

.PopUpAll {
  max-width: 700px;
  max-height: 400px;
  background-color: rgba(245, 238, 238, 0.938);
  border-radius: 3px;
}

.PopUp-headerAll {
  background-color: none;
  display: flex;
  flex-direction: column;
}

.PopUp-headerAll h2 {
  margin: 1em;
}

.PopUp-headerAll span {
  align-self: flex-end;
  cursor: pointer;
  padding-right: 0.3em;
}

/* .PopUp-content {
  padding: 1em;
} */

.PopUp-footerAll {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

.PopUp-cancel {
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-left: 0.5em;
  cursor: default;
}

.PopUp-deleteAll {
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  color: white;
  background-color: tomato;
  border-radius: 3px;
  margin-left: 0.5em;
  cursor: pointer;
}

.notificationBox {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  display: none;
  padding: 1.5rem;
  font-weight: 900;
  background-color: #009a9a;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

toDo textarea.smallerText {
  font-size: 12px;
}
